*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* ////////////////////TAMAÑOS DE FUENTE MOBILE//////////////////// */
h1{
    font-size: 2.5em;
}

h2{/* Títulos tarjetas eventos*/
    font-size: 2em;
}

h3{/* Títulos de tablas */
    font-size: 1.3em;
}

h4{
    font-size: 1.2em;
}

p {
    font-size: 0.9em;
}

th{/* Encabezados de tablas */
    font-size: 0.9em;
}

td {/* Datos en tablas */
    font-size: 0.8em;
}


/* ////////////////////SECCIÓN 1//////////////////// */
.btn-control{
    border-style: none;
    background-color: unset;
    font-size: 3em;
}

.nav-logo{
    width: 120px;
}

/* ////////////////////SECCIÓN 2//////////////////// */
.section2{
    min-height: 80px;
    background-color:rgb(217,3,104);
}

.btn-control{
    text-decoration: none;
}

.nav-link{
    color: rgb(217,3,104);
}

.nav-link:hover{
    color: white;
    background-color: rgb(217,3,104);
}




/* ////////////////////SECCIÓN 3//////////////////// */
.section3{
    min-height: calc(100vh - 246px);
}

  

/* ////////////////////SECCIÓN 4 (FOOTER)//////////////////// */
.section4{
    padding: 20px 3vw;
    background-color:rgb(217,3,104);
}

.social-icon-container{
    /* width: 15vw; */
    width: 200px;
}

.social-icon{
    width: 43px;
    /* max-width: 10vw; */
}

.cohort{
    font-size: 1.6em;
}





/* //////////// HOME - UPCOMING EVENTS - PAST EVENTS //////////// */
.search-btn-img{
    width: 35px;
}

.btn-card{
    text-decoration: none;
    box-shadow: 5px 5px 10px grey;
    min-width: 114px !important;
}

.cards-container{
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    padding: 30px;
    width: 92vw;
    flex-shrink: 0;
}

.card-img-container{
    box-shadow: 5px 5px 10px grey;
}

.card-img{
    width: 100%;
    min-height: 300px;
}




/* ////////////////////////////// CONTACT ////////////////////////////// */
#name, #email, #message {
    width: 92vw;
    max-width: 500px;
}

.submit-button, .btn-card{
    color: white;
    background: #555;
    font-size: 1em;
    border: 2px solid #555;
    padding: 3px 3px;
    text-align: center;
    transition: all .32s cubic-bezier(0, 0.55, 0.45, 1);
    height:35px;
    width: 12.4vw;
    min-width: 96px;
    max-width: 140px;
}

.message{
    height: 200px;
    text-align: start;
}


/* ////////////////////////////// STATS ////////////////////////////// */
th{
    width: 33.33%;
   
}

td{
    height: 28px;
}



/* ////////////////////////////// DETAILS ////////////////////////////// */
.section3-details{
    min-height: calc(100vh - 188px);
}

.details-container{
    flex-wrap: wrap;
    border-style: none !important;
    padding: 50px 0px ;
}

.details-1{
    width: 40%;
    min-width: 80vw;
    box-shadow: 5px 5px 10px grey;
}

.details-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 400px;
}

.details-2{
    width: 40%;
    min-width: 80vw;
}


/* ////////////ESTILO PARA PANTALLAS MUY ANGOSTAS//////////// */
@media (max-width: 357px) {

    /* ////////////////////SECCIÓN 4 (FOOTER)//////////////////// */
    .social-icon-container{
        width: 180px;
        max-width: 48vw;
        height: 20px;
    }
    
    .social-icon{
        width: 38px;
        max-width: 12vw;
    }
    
    .cohort{
        font-size: 7vw;
        height: 20px;
        max-width: 48vw;
        text-align: center;
    }
    
    

}





/* ////////////ESTILO PARA PANTALLAS MEDIANAS O GRANDES//////////// */
@media (min-width: 768px) {
/* ////////////////////TAMAÑOS DE FUENTE PANTALLAS MEDIANAS O GRANDES//////////////////// */
    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2.2em;
    }

    h3{/* Títulos de tablas */
        font-size: 1.56em;
    }

    h4{
        font-size: 1.44em;
    }

    p {
        font-size: 1.08em;
    }

    th{/* Encabezados de tablas */
        font-size: 1.08em;
    }

    td {/* Datos en tablas */
        font-size: 0.96em;
    }

    
    /* ////////////////////SECCIÓN 1//////////////////// */
    .section1{
        height: 100px;
        background-color:gainsboro;
    }

    .btn-control{
        font-size: 4em;
    }

    .navbar{
        padding: 0;
    }

    .navbar-brand{
        padding-left: 1vw;
    }

    .nav-logo{
        width: 100%;
        min-width: 100px;
        max-width: 200px;
        flex-shrink: 0;
    }

    .nav-link{
        color: white;
        background: rgb(217,3,104);
        font-size: 1em;
        border: 2px solid rgb(217,3,104);
        padding: 14px 3px 14px 3px;
        text-align: center;
        transition: all .32s cubic-bezier(0, 0.55, 0.45, 1);
        height:52px;
        width: 12.4vw;
        min-width: 96px;
        max-width: 140px;
        will-change: transform;
    }
    
    .nav-link:hover{
        color: white;
        transform: scale(1.1);
        background: rgb(217,3,104);
      }

    .nav-options-container{
        display: flex;
        justify-content:end;
    }

    .nav-options{
        width: 100%;
        max-width: 750px;
        display: flex;
        justify-content: space-evenly;   
    }

    /* ////////////////////SECCIÓN 3//////////////////// */
    .section3{
        min-height: calc(100vh - 316px);
    }

    .section3-container{
        width: 100%;
    }

    /* ////////////////////SECCIÓN 4 (FOOTER)//////////////////// */
    .social-icon-container{
        /* width: 15vw; */
        width: 230px;
    }
    
    .social-icon{
        width: 48px;    
    }    

    .cohort{
        font-size: 1.8em;
    }

    /* //////////////////// DETAILS //////////////////// */
/*     .details-container {
        margin: 50px 5vw ;
        padding: 50px 0 ;
    } */

}


/* ////////////ESTILO PARA PANTALLAS DONDE ENTREN DOS O MÁS CARDS EN HORIZONTAL//////////// */
@media (min-width: 852px) {
    /* //////////// HOME - UPCOMING EVENTS - PAST EVENTS //////////// */
    .form-sections-container{
        width: 100%;
    }


    .cards-container{
        width: 100%;
        gap: 35px;
        flex-wrap: wrap;
    }

    .card{
        width: 25em;
        min-height: 300px;
        flex-shrink: 0;

    }

    .card-img{
        min-height: 300px;
    }


}

/* ////////////ESTILO PARA PANTALLAS DONDE ENTRE DETAILS EN FILA //////////// */
@media (min-width: 1011px) {
        /* ////////////////////////////// DETAILS ////////////////////////////// */
        .details-container{
            border-style: solid !important;
            margin: 50px 5vw ;
            padding: 50px 0 ;
        }
    
        .details-1, .details-2{
            min-width: 400px;
        }
}